<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context" xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       https://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd http://www.springframework.org/schema/aop https://www.springframework.org/schema/aop/spring-aop.xsd">

    <!--Spring & service -->

    <!-- Scan service layer related beans-->
    <context:component-scan base-package="com.calm.service"/>

    <!-- Configure Spring declarative transaction manager -->
    <bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <!-- Injecting data sources -->
        <property name="dataSource" ref="dataSource"/>
    </bean>

    <!-- Implementing transaction weaving with AOP-->
    <!--Configure Transaction Notification Advice-->
    <tx:advice id="txAdvice" transaction-manager="transactionManager">
        <tx:attributes>
            <!--Configure which methods to use what kind of transactions, and configure the propagation characteristics of transactions -->
            <tx:method name="add*" propagation="REQUIRED"/> <!-- Support current transactions-->
            <tx:method name="insert*" propagation="REQUIRED"/> <!-- Support current transactions-->
            <tx:method name="delete*" propagation="REQUIRED"/>
            <tx:method name="update*" propagation="REQUIRED"/>
            <tx:method name="get*" read-only="true"/>    <!--Only read-only operations can be performed on the database-->
        </tx:attributes>
    </tx:advice>

    <!--Configure AOP weaving transactions-->
    <aop:config>
        <aop:pointcut id="pc1" expression="execution(* com.calm.service.*.*(..))"/>
        <aop:advisor advice-ref="txAdvice" pointcut-ref="pc1"/>
    </aop:config>

</beans>